.content{
    position: relative;
    width: 80%;
    margin: 0 10% 0 10%;
    max-width: 100%;
    box-sizing: border-box;
    min-height: 100vh;
    transition: all .3s ease;

    &-scrolled {
        padding-top: 28vh;
        z-index: -1;
    }
}

.box{
    width:80%;
    margin:2rem 10% 0 10%;
    height:100vh;
    background-color:plum;
}