.content{
    width: 80%;
    margin: 4rem 10% 0 10%;
    max-width: 100%;
    box-sizing: border-box;
    min-height: 100vh;
    transition: all .5s ease;

    &-scrolled {
        padding-top: 16vh;
    }
}


.box{
    width:80%;
    margin:2rem 10% 0 10%;
    height:100vh;
    background-color:plum;
}