.content{
    position: relative;
    width: 80%;
    z-index: -1;
    margin: 0 10% 0 10%;
    max-width: 100%;
    box-sizing: border-box;
    min-height: 100vh;
    transition: all .3s ease;
}

.box{
    width:80%;
    z-index: -1;
    margin:2rem 10% 0 10%;
    height:100vh;
    background-color:plum;
}